#home {
  background: url("../mountains.jpg") no-repeat center center fixed;
  background-size: cover;
}
#states {
  background: url("../mojave.jpg") no-repeat center center fixed;
  background-size: cover;
}
#text-box, #sign-in{
  display: inline-block;
}

#sign-in {
  float: right;
  padding-right: 10px;
}
.pure-form {
  margin-top: 0px;
}

#main-content {
  text-align: center;
}
#text-box {
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 50px;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  color: darkgreen;
}

/* html {
  background-color: cornflowerblue;
}
 */
#font-test {
  font-family: 'Bungee', cursive;
  font-size: 30px;
}
h1, p {
  color: yellow;
  font-weight: bold;
}

#text {
  float: left;
  margin-right: 50%;
}

.content {
  display: inline-block;
}


















