#main-content {
  text-align: center;
}
#map {
  text-align: center;

  margin-top: 50px;
}

#text-box {
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  color: yellow;
}

html {
  background-color: cornflowerblue;
}

#font-test {
  font-family: 'Bungee', cursive;
  font-size: 30px;
}
