#home {
  background: url("../mountains.jpg") no-repeat center center fixed;
  background-size: cover;
}
#states {
  background: url("../mojave.jpg") no-repeat center center fixed;
  background-size: cover;
}
#text-box, #sign-in, #sign-up{
  display: inline-block;
}

#sign-in {
  float: right;
  padding-right: 10px;
}
#sign-in-text-box {
  color: yellow;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 20px;
  font-family: 'Bungee', cursive;
  font-size: 40px;
}
#sign-up {
  float: left;
  padding-left: 10px;
}
.sign-up{
  text-align: center;
}
#sign_up_image {
  background: url("../yellowstone.jpeg") no-repeat center center fixed;
  background-size: cover;
}

#sign_in_image {
  background: url("../moab.jpg") no-repeat center center fixed;
  background-size: cover;

}
a {
  text-decoration: none;
  color: darkgreen;
  font-family: 'Bungee', cursive;

}
.pure-form {
  margin-top: 0px;
}

#main-content {
  text-align: center;
}
#text-box {
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 20px;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  color: darkgreen;
}

/* html {
  background-color: cornflowerblue;
}
 */
#font-test {
  font-family: 'Bungee', cursive;
  font-size: 30px;
}
h1, p {
  color: yellow;
  font-weight: bold;
}

#text {
  float: left;
  margin-right: 50%;
}

.content {
  display: inline-block;
}
#id {
  color: yellow;
  font-size: 20px;
  font-family: 'Bungee', cursive;
}


















