<!doctype html>
<html id="sign_in_image">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
        <h1 id="sign-in-text-box">Sign In to The National Parks Directory</h1>
        <br>
        {{#logged_in}}
            <h4>Welcome {{email}}!</h4>



          <a href="/logout">Logout!</a>
        {{/logged_in}}
        {{^logged_in}}
            <form action="/login" method="post">
              <fieldset>
                <legend>Login</legend>
                  <label for="inputEmail">Name</label>
                    <input name="email" type="text" placeholder="Name">
                <label for="inputPassword">Password</label>
                    <input name="password" type="password" placeholder="Password">




                    <button type="submit">Login</button>

              </fieldset>
            </form>

          <p>Not a member? <a href="/sign-up">Sign Up!</a></p>

        {{/logged_in}}
  </body>
</html>
